<!DOCTYPE html>
<html>
<head>
 
<%- include("partial/head"); -%>
</head>
<body>
  <%- include("partial/nav"); -%>

    <div id="mainContainer">
      <div id="side">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Chat</a></li>
          
        </ul>
      </div>
      <div id="main">
        <h3>Welcome,
          <% if(locals.user) {%>
            <%= user.name %>
            <%}%>
          </h3>
          <div class="row">
              <div class="col-md-3">
                <ul class="list-group">
                  <% if(users.length > 0){
                    for(let i=0; i < users.length ; i++)
                    {
                  %>
                      <li class="list-group-item list-group-item-dark cursor-pointer user-list">
                        <img src="<%= users[i].image %>" height="50px" width="50px">
                          <%= users[i].name %>
                        </li>
                  <% } %>
                      <% } %>
                  </ul>
              </div>

              <div class="col-md-9">
              </div>
            </div>
          </div>
         
      </div>
    </div>

</body>
</html>